.hero-section {
  height: 540px;
  padding: 6rem;
  background-color: var(--decoration-square-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: var(--font-main-color);
  font-family: var(--font-logo);
}

.hero-text p {
  font-size: 1.5rem;
  color: var(--font-main-color);
}

.hero-image img {
  max-width: 100%;
  height: auto;
  margin-top: 140px;
  margin-right: 180px;
}
